// Imports -------------------------------------------------------------------

@import base

/* Layout ------------------------------------------------------------------


html
  //background-image: url('../images/bg.jpg')
body
  +adjust-font-size-to(18px)


.container
  +container
  margin-top: 50px


//p
  margin: 1em

#header
  margin-bottom: 50px
  img
    display: block
    margin: 0 auto

#home
  .lessons
    @include columns(6,12)
  .payment
    @include columns(6,12)
    @include omega(12)

