@charset "UTF-8";
/* normalize.css 2011-07-20T19:34 UTC · http://github.com/necolas/normalize.css */
/* =============================================================================
 * HTML5 display definitions
 * ========================================================================== */
/* Corrects block display not defined in IE6/7/8/9 & FF3 */
/* line 10, ../sass/_normalize.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* Corrects inline-block display not defined in IE6/7/8/9 & FF3 */
/* line 16, ../sass/_normalize.sass */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* Prevents modern browsers from displaying 'audio' without controls */
/* line 24, ../sass/_normalize.sass */
audio:not([controls]) {
  display: none;
}

/* Addresses styling not present IE6/7/8/9, FF3, S4
 * Ensures content is hidden from all presentations, including screenreaders */
/* line 31, ../sass/_normalize.sass */
[hidden] {
  display: none;
  visibility: hidden;
}

/* =============================================================================
 * Base
 * ========================================================================== */
/* 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Keeps page centred in all browsers regardless of content height
 * 3. Removes Android and iOS tap highlight color to prevent entire container being highlighted
 *    www.yuiblog.com/blog/2010/10/01/quick-tip-customizing-the-mobile-safari-tap-highlight-color/
 * 4. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
/* line 48, ../sass/_normalize.sass */
html {
  font-size: 100%;
  /* 1 */
  overflow-y: scroll;
  /* 2 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 4 */
  -ms-text-size-adjust: 100%;
  /* 4 */
}

/* Addresses margins handled incorrectly in IE6/7 */
/* line 63, ../sass/_normalize.sass */
body {
  margin: 0;
  font-family: sans-serif;
}

/* Addresses font-family inconsistency between 'textarea' and other form elements. */
/* line 70, ../sass/_normalize.sass */
button, input, select, textarea {
  font-family: sans-serif;
}

/* =============================================================================
 * Links
 * ========================================================================== */
/* line 77, ../sass/_normalize.sass */
a {
  color: #0000ee;
}
/* line 79, ../sass/_normalize.sass */
a:visited {
  color: #551a8b;
}
/* line 81, ../sass/_normalize.sass */
a:focus {
  outline: thin dotted;
}
/* line 83, ../sass/_normalize.sass */
a:hover, a:active {
  outline: 0;
}

/* Addresses outline displayed oddly in Chrome */
/* Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test */
/* =============================================================================
 * Typography
 * ========================================================================== */
/* Addresses styling not present in IE7/8/9, S5, Chrome */
/* line 100, ../sass/_normalize.sass */
abbr[title] {
  border-bottom: 1px dotted;
}

/* Addresses style set to 'bolder' in FF3/4, S4/5, Chrome */
/* line 106, ../sass/_normalize.sass */
b, strong {
  font-weight: bold;
}

/* line 109, ../sass/_normalize.sass */
blockquote {
  margin: 1em 40px;
}

/* Addresses styling not present in S5, Chrome */
/* line 115, ../sass/_normalize.sass */
dfn {
  font-style: italic;
}

/* Addresses styling not present in IE6/7/8/9 */
/* line 121, ../sass/_normalize.sass */
mark {
  background: yellow;
  color: black;
}

/* Corrects font family set oddly in IE6, S5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59 */
/* line 129, ../sass/_normalize.sass */
pre, code, kbd, samp {
  font-family: monospace, monospace;
  _font-family: "courier new", monospace;
  font-size: 1em;
}

/* Improves readability of pre-formatted text in all browsers */
/* line 137, ../sass/_normalize.sass */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4 */
/* 1 */
/* line 148, ../sass/_normalize.sass */
q {
  quotes: none;
}
/* line 150, ../sass/_normalize.sass */
q:before, q:after {
  content: "";
  content: none;
}

/* 2 */
/* line 156, ../sass/_normalize.sass */
small {
  font-size: 75%;
}

/* Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930 */
/* line 163, ../sass/_normalize.sass */
sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 169, ../sass/_normalize.sass */
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

/* line 176, ../sass/_normalize.sass */
sub {
  bottom: -0.25em;
}

/* =============================================================================
 * Lists
 * ========================================================================== */
/* line 183, ../sass/_normalize.sass */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 187, ../sass/_normalize.sass */
dd {
  margin: 0 0 0 40px;
}

/* line 191, ../sass/_normalize.sass */
nav ul, nav ol {
  list-style: none;
}

/* =============================================================================
 * Embedded content
 * ========================================================================== */
/* 1. Removes border when inside 'a' element in IE6/7/8/9
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
/* line 203, ../sass/_normalize.sass */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/* Corrects overflow displayed oddly in IE9 */
/* line 212, ../sass/_normalize.sass */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
 * Figures
 * ========================================================================== */
/* Addresses margin not present in IE6/7/8/9, S5, O11 */
/* line 222, ../sass/_normalize.sass */
figure, form {
  margin: 0;
}

/* =============================================================================
 * Forms
 * ========================================================================== */
/* Corrects margin displayed oddly in IE6/7 */
/* Define consistent margin and padding */
/* line 235, ../sass/_normalize.sass */
fieldset {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects alignment displayed oddly in IE6/7 */
/* line 243, ../sass/_normalize.sass */
legend {
  border: 0;
  /* 1 */
  *margin-left: -7px;
  /* 2 */
}

/* 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, F3/4, S5, Chrome
 * 3. Improves appearance and consistency in all browsers */
/* line 254, ../sass/_normalize.sass */
button, input, select, textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/* 1. Addresses FF3/4 setting line-height using !important in the UA stylesheet
 * 2. Corrects inner spacing displayed oddly in IE6/7 */
/* line 268, ../sass/_normalize.sass */
button, input {
  line-height: normal;
  /* 1 */
  *overflow: visible;
  /* 2 */
}

/* Corrects overlap and whitespace issue for buttons and inputs in IE6/7
 * Known issue: reintroduces inner spacing */
/* line 279, ../sass/_normalize.sass */
table button, table input {
  *overflow: auto;
}

/* 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS */
/* line 286, ../sass/_normalize.sass */
button, html input[type="button"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
}

/* line 293, ../sass/_normalize.sass */
input[type="reset"], input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
}
/* line 298, ../sass/_normalize.sass */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
}
/* line 300, ../sass/_normalize.sass */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/* line 307, ../sass/_normalize.sass */
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* Addresses box sizing set to content-box in IE8/9 */
/* 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
/* Corrects inner padding displayed oddly in S5, Chrome on OSX */
/* Corrects inner padding and border displayed oddly in FF3/4
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
/* line 324, ../sass/_normalize.sass */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers */
/* line 332, ../sass/_normalize.sass */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* =============================================================================
 * Tables
 * ========================================================================== */
/* Remove most spacing between table cells */
/* line 345, ../sass/_normalize.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Layout ------------------------------------------------------------------ */
/* line 10, ../sass/screen.sass */
body {
  font-size: 1em;
  line-height: 1.444em;
}

/* line 14, ../sass/screen.sass */
.container {
  *zoom: 1;
  margin: auto;
  width: 61em;
  max-width: 100%;
  margin-top: 50px;
}
/* line 38, ../../../../../.rvm/gems/ruby-1.9.2-head/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 22, ../sass/screen.sass */
#header {
  margin-bottom: 50px;
}
/* line 24, ../sass/screen.sass */
#header img {
  display: block;
  margin: 0 auto;
}

/* line 29, ../sass/screen.sass */
#home .lessons {
  display: inline;
  float: left;
  width: 49.153%;
  margin-right: 1.695%;
}
/* line 31, ../sass/screen.sass */
#home .payment {
  display: inline;
  float: left;
  width: 49.153%;
  margin-right: 1.695%;
  display: inline;
  float: right;
  margin-right: 0;
  #margin-left: -1em;
}
